<div>
  <!-- Heading Title -->
  <h4 class="app-heading">Phones list</h4>

  <!-- Search Field -->
  <div>
    <div class="filter-wrap">
      <input [(ngModel)]="searchText" placeholder="Search..." class="filter-input">
      <span class="filter-clear" *ngIf="searchText.length>0" (click)="clearFilter()">X</span>
    </div>
  </div>
  <!-- Clear Link -->
  <div class="clear-selection" title="Click to Clear Selections" (click)="clearSelection()" *ngIf="selected_count">Clear all selections</div>

  <!-- Phones List -->
  <ul class="phone-list">
    <li *ngFor="let g of phones | filter : searchText" class="phone-item">
      <input (change)="getSelected()" type="checkbox"
             name="phones"
             value="{{g.id}}"
             [(ngModel)]="g.selected"/>
      <span class="phone-text">{{g.name}}</span>
    </li>
  </ul>

  <!-- Selected Phones-->
  <div class="selected-phones-wrap">
    <div class="selected-phone" *ngFor="let s of selected_phones" >
      <span>{{s.name}} <span class="delete-phone" (click)="deletePhone(s.id)" title="Click to delete">X</span></span>
    </div>
  </div>

</div>
